.about {
   min-height: 20vh;

   &__texts {
      gap: 10px;

      .about__text {
         margin: 20px 0;
         color: whitesmoke;
         max-width: 70%;
         border-radius: 15px 0 0 15px;
         border-left: 2px solid whitesmoke;
         padding: 15px;
         font-size: 23px;
         -webkit-box-shadow: inset 24px 0px 17px -16px rgba(255, 250, 250, 0.68);
         -moz-box-shadow: inset 24px 0px 17px -16px rgba(255, 250, 250, 0.68);
         box-shadow: inset 24px 0px 17px -16px rgba(255, 250, 250, 0.68);
      }
   }
}