.cross {
   margin: 50px;
   height: 20vh;
}

.cross__text {
   font-size: 25px;
   -webkit-transform: rotate(10deg);
   color: balck;
   background-color: whitesmoke;
   display: flex;
   justify-content: space-around;
}

.cross__text-f {
   font-size: 25px;
   -webkit-transform: rotate(-10deg);
   color: balck;
   background-color: whitesmoke;
   display: flex;
   justify-content: space-around;
}